/*
 * Content.css - Styles for displaying content pages
 * ver 1.0 - 01 Jan 2025
 * Jim Fawcett
 */
 
 :root {
  --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hr: #382200;;
  --border: #002200;
  --lpanelw: 10rem;
  --topmenuh: 1.75rem;
  --bottommenuh: 1.75rem;
}

body {
  height:100vh;
  width:100vw;
  padding:1rem 1rem 1rem 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

body a {
  color:var(--dark);
}

/*
  default style in reset.css
 ----------------------------
  h1, h2, ...
  ul, ol, li
  details
  table
*/

/* content page header */

header {
  background-color: var(--light);
  color: var(--dark);
}

.header {
  background-color: var(--dark);
  color: var(--atten);
}

header h2, header h3, header h4 {
  margin-top:0.25rem;
  margin-bottom:0.25rem;
} 

#pagetitle {
  padding: 0rem 1rem 0.75rem 1rem;
  margin-bottom: 0.05rem;
  border:2px solid var(--dark);
  background-color: var(--dark);
  color: var(--atten);
}

#subtitle {
  background-color: var(--dark);
  color:var(--atten);
}

#link-bar {
  position:relative; 
  margin-top:0.075em; 
  padding:0.0em 0em 0.25em 0em; 
  border:2px solid var(--dark);
}

#link-bar-about {
  color:var(--atten); 
  margin-top:0.25em; 
  margin-left:1.5em;
}

#link-bar-repo {
  position:absolute; 
  right:2em; 
  color:var(--atten);
}

a.repoLink {
  position: absolute;
  top: 1.05rem;
  right: 2.5rem;
  padding: 0px;
  font-size: 1.0rem;
  background-color: var(--dark);
  color: var(--atten);
}

/* contents as ordered list of sections */

section-container {
  display:block;
  padding: 0rem 0rem;
  font-size: 1rem;
}
section-content {
  display:block;
  margin: 1rem 0rem;
  font-size:1rem;
  max-width:50rem;
}

section-container ol {
  /* font-size: 1.1rem;
  font-weight: bold; */
  margin: 1rem 1rem;
  padding: 0rem;
}

section-container ul {
  /* font-size: 1.1rem;
  font-weight: bold; */
  margin: 1rem 1rem;
  padding: 0rem;
}

section-container li {
  margin-left:0rem;
  font-size:1.1rem;
  font-weight: bold;
}

section-content li {
  padding:0.75rem 0rem;
  margin:0.0rem 1rem;
  line-height: 1.25rem;
}

li section-content {
  font-weight: normal;
  padding: 0.5rem 0rem;
  margin:0rem;
  line-height: 1.25rem;
} 

/* notes */

note-block {
  display: block;
  margin:0.75em 1rem 1.25rem 1rem;
  padding:0.5rem 1rem 0.75rem 1rem;
  max-width: 55rem;
  border: 2px solid red;
}

.expandable-notes {
  border:1px solid var(--dark);
  width:max-content;
  max-width: 100%;
  margin:0.75rem 0rem 1.0rem 0rem;
  padding: 0.5rem 1rem;
}

.expandable-notes hr {
  margin:0.5rem;
}

.expandable-notes inset {
  display:block;
  margin-left: 1.0rem;
  max-width: 50rem;
  font-size: 0.9rem;
}

/* code examples */

pre.code-examples {
  width:max-content;
  max-width: 100%;
  overflow: auto;
  padding: 0rem 0.1rem;
}

pre.code-examples code {
  font-size:0.8rem;
}

/*
  status lists, usually in content page header
*/
.quickStatusContainer {
  width: auto;
  position: absolute;
  top: 1.85rem;
  right: 0.1rem;
  z-index: 100;
  padding-right: 25px;
}

.quickStatus {
  width: auto;
  z-index: 100;
  position: relative;
  top: 0.1rem;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0rem;
}

status-grid {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--light);
  border: 1px solid var(--dark);
  padding: 5px 10px;
  margin-top: 0rem;
}

status-itemLeft {
  padding: 0px 10px;
}

#grid status-itemLeft a {
  color: var(--dark);
}

status-itemRight {
  padding: 0px 10px;
}

details summary {
  font-size: 1.0rem;
  padding-right: 1rem;
}

details details {
  margin-left:2rem;
}

.indent {
  margin: 0em 1rem;
}

.center {
  text-align: center;
}

.spread {
  margin:1em 0em 1.75em 0rem;
}

.spread-up {
  margin-top:1rem;
}

.spread-down {
  margin-bottom:1.5rem;
}

.quote {
  margin:1em 10em 1em 1rem; 
  max-width:50rem;  
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear:both;
}

.undef {
  opacity: 0.5;
}

.undef a {
  opacity: 0.5;
}

.undefined {
  opacity: 0.75;
}

.undefined a {
  opacity: 0.75;
}

.photoContainer {
  border-radius: 5px; 
  background-color:var(--light); 
  border:1px solid var(--dark);
  padding:0.25rem;
}

.photoImage {
  width:100%;
  height: auto;
  margin:0rem;
}

.photoImage img {
  width:100%;
  height: auto;
  overflow-y: hidden;
}

.photoCaption {
  background-color:var(--light);
  font-size:0.9rem;
  text-align: center;
  padding:0em 1rem;
  margin:0rem;
}

summary {
  padding:0.25em 1.0rem 0.25rem 0.5rem;
  border:1px solid var(--dark);
  width:max-content;
  cursor: pointer;
}

.noBorder {
  border:none;
}

details hr {
  margin-top:0.5rem;
}

content-block {
  display:block;
  position: relative;
  padding:0.25em 1.0rem;
  /* padding:0rem; */
}

#content {
  position: relative;
  padding:0.5rem 1.0em;
  padding:0rem;
}

.lightItem {
  background-color: var(--light);
  color: var(--dark);
  border:1px solid var(--dark);
}

.darkItem {
  background-color: var(--dark);
  color: var(--light);
  border:1px solid var(--dark);
}

details > summary {
  border:1px solid var(--dark);
  padding: 0.25rem 1rem 0.25rem 0.5rem;
}

details ul {
  margin-left: 3rem;
}

li details {
  margin-left: -1.25rem;
}

/*------------------------------------- 
  replacement for paragraph with 
  limited width 
*/

t-b {
  display:block;
  white-space: wrap;
  max-width:50rem;
  margin: 0.75em 0rem;
}

badge-container {
  display:block;
  margin: 0.25rem;
  padding:0.25em 1.0rem;
  border: 1px solid var(--dark);
  border-radius: 0.25rem;
  cursor: pointer;
  width:max-content;
  white-space: nowrap;
}

badge-container:hover {
  background: #aaa;
}

.badge {
  text-decoration: none;
}

sp-small {
  display:block;
  height:0.75rem;
}

sp-large {
  display:block;
  height:5rem;
}

defn-outerBlock, .defn-outerBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  width: calc(100vw - 12em);
  border: none;
}
defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid #440000;
  margin: 3px;
  width: max-content;
  overflow-x: auto;
}

.defn-block {
  display: flex;
  flex-direction: column;
  border: 2px solid #440000;
  margin: 3px;
  width: max-content;
  overflow-x: auto;
}

defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid #440000;
  padding: 0.25rem 1rem;
  font-size: 1.0rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: #440000;
}

.defn-head {
  display: block;
  border: none;
  border-bottom: 2px solid #440000;
  padding: 0.25rem 1rem;
  font-size: 1.0rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: #440000;
}

defn-body {
  display: block;
  border: none;
  padding: 0.5em 1.0rem;
  font-size: 0.9rem;
}

.defn-body {
  display: block;
  border: none;
  padding: 0.5em 1.0rem;
  font-size: 0.9rem;
}

defn-code {
  display: block;
  border: none;
  padding: 0.0em 1.0rem;
  white-space: pre;
  font-family: Consolas, monospace;
  font-weight: normal;
  font-size: 0.8rem;
  user-select:text;
}
.defn-code {
  border: none;
  padding: 0.0rem 1.0rem;
  white-space: pre;
  font-family: Consolas, monospace;
  font-weight: normal;
  font-size: 0.8rem;
}

viewWidth, vw {
  width: calc(100vw - 12rem);
}
.viewWidth, .vw {
  width: calc(100vw - 12rem);
}
Table.tdefn {
  table-layout: fixed;
  border: 2px solid #440000;
  border-collapse: collapse;
}
th.tdefn {
  padding: 10px 15px;
  background-color: #fefefa;
  color: #440000;
  border-bottom: 2px solid #440000;
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
}
td.tdefn {
  vertical-align:top;
  padding:0px;
  margin:0px;
}
tdefn-block, .tdefn-block {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  padding: 0rem;
  width: max-content;
  overflow-x: auto;
}

tdefn-head, .tdefn-head {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: bolder;
  font-style: italic;
  font-family: Consolas, sans-serif;
  color: #440000;
}

tdefn-block > tdefn-body, .tdefn-body {
  display: block;
  flex:1;
  padding: 0.5rem 1.0rem;
}

tdefn-block > tdefn-code, .tdefn-code {
  display: block;
  flex-basis:100%;
  width:max-content;
  padding: 0.0rem 1.0rem;
  white-space: pre;
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 0.9rem;
}
.defnBorder {
  border: 2px solid #440000;
}
.defnBorderTop {
  border-top: 2px solid #440000;
}
.defnBorderBottom {
  border-bottom: 2px solid #440000;
}
.defnBorderLeft {
  border-left: 2px solid #440000;
}
.defnBorderRight {
  border-right: 2px solid #440000;
}
.noBorder {
  border:none;
}
.noBorderLeft {
  border-left:none;
}
.noBorderRight {
  border-right:none;
}
.noBorderTop {
  border-top:none;
}
.noBorderBottom {
  border-bottom:none;
}
