/*
 * CppBites_Code.css - code block display styles for CppBites pages
 * Jim Fawcett
 */

.codeBlock {
  border: 2px solid var(--dark);
  padding: 0rem 0.5rem;
  margin: 1rem 1rem 1rem 0rem;
  width: max-content;
}

#github .codeBlock pre {
  padding: 0.5rem;
}

.ide-view {
  font-size: 0.8rem;
  line-height: 1.45;
  white-space: pre;
}

.ide-screenshot {
  width: 70%;
}

#github figure-sizer.ide-figure {
  width: 600px;
  margin-bottom: 2rem;
}
