/*
 * Explorer.css - Styles for the entire site
 * ver 1.0 - 08 Dec 2024
 * Jim Fawcett
 */
 
:root {
  /* --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hr: #004400;
  --border: #00aa00;
  --panelc: #fefefa;
  --panelbg: #382200; */
  --light: #fefefa;
  --dark: #4c2f27;
  --menu: #eee;
  --atten: #f2f0e6;
  --hr: #4c2f27;
  --panelc: #4c2f27;
  --panelbg: #f2f0e6;
  --lpanelw: 11em;
  --topmenuh: 1.75em;
  --bottommenuh: 1.75em;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  display:flex;
  flex-direction: column;
  /* height: 100vh; */
  overflow: hidden;
}
#topMenu {
  width:100%; height:var(--topmenuh);
  background: #ccc;
  border:1px solid var(--dark);
  display:flex;
  overflow-x:auto;
}

#bottomMenu {
  width:100%; height:var(--bottommenuh);
  background: #ccc;
  border:1px solid var(--dark);
  display:flex;
  position:absolute;
  bottom:0em;
}

/* #content {
  position:relative;
  margin:1em 2em;
  font-family: Tahoma, sans-serif;
  border:1px solid red;
} */

.topMenuButton {
  width:5em;
  margin:0em 0.05em;
  padding:0.25em 0.5em;
  white-space: nowrap;
  cursor:pointer;
}

.bottomMenuButton {
  margin:0em 0.05em;
  padding:0.25em 0.5em;
  cursor:pointer;
  border:1px solid var(--dark);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.buttonSpacer {
  /* border:1px solid green; */
  margin:0.0em;
  width:1.0em;
}

#filename {
  margin:0em 1.0em;
  padding:0.15em 0.5em 0.5em 0.5em;
  border:1px solid var(--dark);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#frame {
  /* border:5px solid blue; */
  display:flex; 
  /* flex:1; */
  padding:0em;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  /* height: calc(100vh - 3.5em); */
  height: calc(100vh - var(--topmenuh) - var(--bottommenuh));
}

#lpanel {
  height:100%;
  padding: 1em 1em;
  border:1px solid var(--dark);
  border-right:none;
  width: var(--lpanelw);
  overflow-y: auto;
  color:var(--panelc);
  background-color: var(--panelbg);
}
#lpanel a {
  color:var(--panelc);
}

#rpanel {
  height:100%;
  flex: 1;
  padding:0em;
  border:1px solid var(--dark);
  /* border-left:none; */
  /* width: calc(100% - var(--lpanelw)); */
  /* overflow-y: scroll; */
}

#nav {
  margin: 0.5em 0.25em;
  line-height: 1.5em;
}

#nav > a {
  display:block;
}

.hidden {
  display:none;
}

.lightItem {
  background-color: var(--light);
  color: var(--dark);
  border:1px solid var(--dark);
}

.darkItem {
  background-color: var(--dark);
  color: var(--light);
  border:1px solid var(--dark);
}

.right {
  margin-left: auto;
}

.rightGroup {
  display:flex;
  flex-direction: row;
  margin-left: auto;
}

.clicked {
  width:max-content;
  /* min-width:5em; */
  padding:0em 0.5em;
  /* margin-left:2.5em; */
  display:inline-block;
  cursor:pointer;
}
