/*
 * Explorer.css - Styles for the entire site
 * ver 1.0 - 08 Dec 2024
 * Jim Fawcett
 */
 
:root {
  --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hr: #382200;
  --border: #382200;
  --unclickclr: #fefefa;
  --clickclr: #db7272;
  --panelc: #fefefa;
  --panelbg: #382200;
  --lpanelw: 10.5rem;
  --topmenuh: 1.75rem;
  --bottommenuh: 1.75rem;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

body {
  display:flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Noto Sans', sans-serif;
  user-select: none;
  font-size: 20px;
  line-height: 1.5rem;
}

#github iframe {
  opacity: 0.0;
  transition: opacity 1.2s ease;
  border: 2px solid var(--dark);
  padding:0rem 0.5rem;
  padding:0rem 0.0rem;
  margin:0rem;
}

#github iframe.loaded {
  opacity: 1.0;
}

#github #frame {
  display:flex; 
  position:absolute;
  top: var(--topmenuh);
  bottom: var(--bottommenuh);
  left: 0em;
  right: 0em;
  padding:0em;
  margin:0em;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

#github #lpanel {
  display:block;
  position: absolute;
  height:100%;
  width: var(--lpanelw);
  left:0rem;
  top:0rem;
  padding: 1rem 1rem;
  margin:0rem;
  border:1px solid var(--dark);
  border-right:none;
  overflow-y: auto;
  overflow-x: hidden;
  color:var(--panelc);
  background-color: var(--panelbg);
  font-size:1.05rem;
  font-family:"Noto Sans", Arial, sans-serif
}
#github #lpanel a {
  color:var(--panelc);
}

#github #rpanel {
  display: flex;
  position: absolute;
  right:0rem;
  top:0rem;
  z-index: 10;
  width: calc(100% - var(--lpanelw) - 0.10rem);
  height:calc(100%);
  padding:0em;
  border:1px solid var(--dark);
  transition: width 0.3s ease-in-out, right 0.3s ease-in-out;
}

#github #rpanel.expanded {
  right: 0; /* Ensures it stays aligned */
  width: calc(100%); /* Expands smoothly */
}

#github #topMenu {
  width:100%; height:var(--topmenuh);
  background: #ccc;
  border:1px solid var(--dark);
  display:flex;
  justify-content: flex-start;
  overflow-x:auto;
  position:fixed;
  top: 0rem;
  left: 0rem;
  /* font-size:1.2rem; */
}

#github #bottomMenu {
  width:100%; height:var(--bottommenuh);
  background: #ccc;
  border:1px solid var(--dark);
  display:flex;
  overflow-x:auto;
  position:fixed;
  left:0em;
  bottom:0em;
}

#github #toggle-btn {
  width:8rem;
  margin-left:0rem;
}

#github #lpanelbutton {
  width:8rem;
}
/* used for popups */
#github .menuHeader {
  text-align: center;
  padding:0.0em 0.5em 0.25em 0.5em;
  margin:0em;
  cursor: pointer;
  width:100%;
  position:sticky;
  top:0em;
  right:0em;
}
/*--- added 8/25/2025 ---*/
#github #topMenu div {
  flex: 0 0 10rem;
  align-self: center; 
  font-size:1.1rem;      
}
#github #topMenu div > strong {
  white-space: nowrap;
}
#github #topMenu button {
  font-size: 0.95rem;
}
#github #topMenu #info {
  font-size: 1.0rem; width: 2rem; margin-left: 1rem;
}
#github #bottomMenu button {
  font-size: 0.95rem;
}
#github #bottomMenu #bottom-info {
  font-size: 1.0rem; width: 2rem; margin-left: 0rem;
}
/* #github #bitelist {
  position:fixed;
  top:11rem;
  left:12rem;
  z-index: 100;
  background-color: var(--light);
  color: var(--dark);
  font-size: 0.9rem;
  border:2px solid var(--dark);
  padding:0rem 0.25rem 0.5rem 0.25rem;
  line-height: 1.25rem;
  line-height: 1.35rem;
  cursor: pointer;
  text-decoration: underline;
} */
#github #picklist {
  position:fixed;
  top:11rem;
  left:12rem;
  z-index: 100;
  background-color: var(--light);
  color: var(--dark);
  font-size: 0.9rem;
  border:2px solid var(--dark);
  padding:0rem 0.25rem 0.5rem 0.25rem;
  line-height: 1.25rem;
  line-height: 1.35rem;
  cursor: pointer;
  text-decoration: underline;
}
#github #complist {
  position:fixed;
  top:11rem;
  left:12rem;
  z-index: 100;
  background-color: var(--light);
  color: var(--dark);
  font-size: 0.9rem;
  border:2px solid var(--dark);
  padding:0rem 0.25rem 0.5rem 0.25rem;
  line-height: 1.25rem;
  line-height: 1.35rem;
  cursor: pointer;
  text-decoration: underline;
}
#github .pickheader {
  position:relative;
  top:0rem;
  left:0rem;
  right:0rem;
  background-color: var(--dark);
  color: var(--light);
  text-align:center;
  padding:0.15rem 0rem;
  margin:0rem -0.25rem;
  font-size:0.95rem;
}
#github button.loadButton {
  display: inline-block;
  width: auto;
  align-self: flex-start;
  /* padding:0.15rem 0.5rem; */
  border:2px solid var(--light); 
  padding:0.25rem 0.5rem; 
  /* width:max-content;
  max-width: 10rem; */
  margin:0.5rem 0rem;
  border-radius: 5px;  
  font-size: 1rem;
  cursor:pointer;
  text-decoration: none;
}
#github #github div.control button {
  text-align: left;
  padding-left: 0.25rem;
  cursor: pointer;
}
/*-----------------------*/
#github .topMenuButton {
  position:relative;
  width:5em;
  margin:0em 0.05em;
  padding:0.25em 0.5em;
  white-space: nowrap;
  cursor:pointer;
}

#github #top-menu-info {
  position:fixed;
  top: 2rem;
  top: calc(var(--topmenuh) + 1.5rem);
  left: 12rem;
  z-index: 1000;
  padding:0.25rem 1rem 0.5rem 1rem;
  background-color: var(--light);
  border:2px solid var(--dark);
  cursor: pointer;
  line-height: 1.25rem;
  font-size:0.9rem;
}

#github #bottom-menu-info {
  position:fixed;
  bottom: 2rem;
  bottom: calc(var(--bottommenuh) + 1.5rem);
  left: 12rem;
  z-index: 1000;
  padding:0.25rem 1rem 0.5rem 1rem;
  background-color: var(--light);
  border:2px solid var(--dark);
  cursor: pointer;
  line-height: 1.25rem;
  font-size:0.9rem;
}

#github .bottomMenuButton {
  width:5em;
  margin:0em 0.05em;
  padding:0.25em 0.5em;
  white-space: nowrap;
  cursor:pointer;
}

#github .buttonSpacer {
  margin:0.0em;
  width:1.0em;
}

#github div.control button {
  text-align: left;
  padding-left: 0.25rem;
  cursor: pointer;
  height: 1.75rem;
}

#github div#controls button {
  text-align: left;
  padding-left:0.25rem;
}

#github #blogs {
  position:absolute;
  top: var(--topmenuh);
  z-index: 100;
  right:23.75rem;
  width:max-content;
  min-width:5em;
  max-height: calc(100vh - var(--topmenuh) - var(--bottommenuh) - 1rem);
  overflow-y: auto;
  border:2px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  line-height: 1.5em;
  font-size:0.95rem;
}
#github #blogs a {
  display: block;
  color: var(--dark);
  margin:0em 0.5em;
}
#github #blogs a:hover {
  background-color: #ccc;
}

#github #help {
  position:absolute;
  top: var(--topmenuh);
  z-index: 100;
  right:19.2rem;
  width:max-content;
  min-width:5em;
  max-height: calc(100vh - var(--topmenuh) - var(--bottommenuh) - 1rem);
  overflow-y: auto;
  border:2px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  line-height: 1.5em;
  font-size:0.95rem;
}
#github #help a {
  display: block;
  color: var(--dark);
  margin:0em 0.5em;
}
#github #help a:hover {
  background-color: #ccc;
}

#github #res {
  position:absolute;
  top: var(--topmenuh);
  z-index: 100;
  right:15rem;
  width:max-content;
  min-width:5em;
  max-height: calc(100vh - var(--topmenuh) - var(--bottommenuh) - 1rem);
  overflow-y: auto;
  border:2px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  line-height: 1.5em;
  font-size:0.95rem;
}
#github #res a {
  display: block;
  color: var(--dark);
  margin:0em 0.5em;
}
#github #res a:hover {
  background-color: #ccc;
}
#github #res hr.above {
  margin:0.35rem 0rem 0.0rem 0rem;
}
#github #res hr.below {
  margin:0.0rem 0rem 0.35rem 0rem;
}
#github #res .category {
  border-top:1px solid var(--dark);
  border-bottom:1px solid var(--dark);
  background-color: #ccc;
  margin-bottom:0.15rem;
  color: var(--dark);
  font-size:1.0rem; 
  padding:0.0rem 0.5rem 0.0rem 0.5rem;
  margin:0rem;
}

#github #filename {
  margin:0.35em 1.0em;
  border:1px solid var(--dark);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size:0.90rem;
  vertical-align: middle;
}

#github details a, details summary {
  white-space: nowrap;
  font-size:0.95rem;
}

#github #code-help a {
  margin-left:1rem;
}

#github #code-repros a {
  margin-left:1rem;
}

#github #nav {
  margin: 0.5rem 0.25rem;
  line-height: 1.5rem;
}

#github #nav a {
  display:block;
}

#github .hidden {
  display:none;
}

#github .lightItem {
  background-color: var(--light);
  color: var(--dark);
  border:1px solid var(--dark);
}

#github .darkItem {
  background-color: var(--dark);
  color: var(--light);
  border:1px solid var(--dark);
}

#github .right {
  margin-left: auto;
}

#github .rightGroup {
  display:flex;
  overflow-x:auto;
  margin-right:auto;
}

#github clkwrap {
  display:block;
  padding:0.15rem 0.75rem;
  margin-left: -0.75rem;
}

#github .clickable {
  /* display: block; */
  width:max-content;
  padding:0rem;
  margin:0rem;
  width:max-content;
  min-width: 5rem;
  text-decoration: underline;
}

#github .clickable a {
  cursor:pointer;
}

#github .clicked {
  width:max-content;
  padding:0em 0.0em;
  display:inline-block;
  cursor:pointer;
  text-decoration: underline;
}

#github details .clicked {
  width:max-content;
  padding:0em 0.5em;
  display:inline-block;
  cursor:pointer;
  text-decoration: underline;
}

#github .undef {
  opacity:0.5;
  text-decoration: none;
}

#github details .undef {
  padding:0rem 0.5rem;
}

#github #explorers {
  display: flex;
  width:max-content;
  padding:0.0rem 0.25rem 0.0rem 0.25rem;
  cursor:pointer;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#github #explorers > div a {
  display:block;
  margin-left: 0.0rem;
}

#github #explorers .popup {
  justify-content: center;
  align-items: center;  
}

#github #toolboxes {
  display: flex;
  width:max-content;
  background-color: var(--light);
  border:1px solid var(--dark);
  padding:0.0rem 0.25rem 0.0rem 0.25rem;
  cursor:pointer;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#github #toolboxes > div a {
  display:block;
  margin-left: 0.0rem;
}

#github #toolboxes .popup {
  justify-content: center;
  align-items: center;  
}

#github .popup {
  display:flex;
  justify-content: center;
  align-items: center;  
  width:7rem;
  background-color: var(--dark);
  color: var(--atten);
  border:1px solid var(--dark);
  padding:0.25rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.7rem;
  line-height: 1.0rem;
}

#github #compilers {
  display: flex;
  width:max-content;
  padding:0.0rem 0.25rem 0.0rem 0.25rem;
  cursor:pointer;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#github #compilers > div a {
  display:block;
  margin-left: 1.0rem;
}

#github #compilers .popup {
  justify-content: center;
  align-items: center;  
}

#github ul.tight, ol.tight {
  margin-top:0.25em;
  margin-bottom:0.25em;
}

#github ul.tight li {
  margin-top:0.15em;
  margin-bottom:0.15em;
}

#github ol.tight li {
  margin-top:0.15em;
  margin-bottom:0.15em;
}

#github #bottomGroup {
  display:flex;
  flex-direction:column;
  position: fixed;
  bottom: calc(var(--bottommenuh) + 1rem);
  left:1.0rem;
  border:1px solid var(--dark);
  background-color: var(--light);
  max-height:calc(100vh - 3rem);
}

#github #bottomGroup details {
  margin:0.0rem 0rem;
  border:none;
}
#github #bottomGroup summary {
  margin:0rem;
  padding:0.05rem 0.5rem;
  width:7rem;
}

#github #bottomGroup-wrapper {
  display:flex;
  flex:1;
  background-color: var(--light);
  border: none;
  padding:0.25rem;
  max-height: 90%;
}

#github #track-list {
  overflow-y: auto;
  flex-grow: 1;
  border: 1px solid var(--dark);
}

#github #nbhds {
  flex-shrink: 0;
}

#github .bottomFix {
  position: fixed;
  left: 1.05rem;
  bottom: 3rem;
  background-color: var(--light);
}

