/* Global reset */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Grid container spanning the viewport */
#container {
  display:flex;
  flex-direction: row;
  position:fixed;
  top:var(--topmenuh);
  left:0rem;
  width:100%;
  bottom:var(--bottommenuh);
}
#control-panel {
  width:10rem;
  padding:1rem;
  background-color: var(--dark);
  color: var(--light);
  /* border:1px solid purple; */
  border-right:none;
}
#control-panel a {
  background-color: var(--dark);
  color: var(--light);
}
#control-panel summary {
  margin-left:-1rem;
}
#panel-container {
  display: grid;
  flex: 1;
  /* Initially two columns: left panel 40%, right panel 60% */
  grid-template-columns: 50% 50%;
  /* width: 100vw;
  height: 100vh; */
  height:100%;
  padding:0rem;
  margin:0rem;
  overflow: hidden;
}
/* Panel styling */
.panel {
  overflow: auto;
  transition: all 0.3s ease;
}
#leftPanel {
  display: flex;
  background: #f0f0f0;
  padding:0rem;
  margin:0rem;
  /* border:6px solid red; */
  height:100%;
}
#rightPanel {
  display:flex;
  background: #fff;
  padding:0rem;
  margin:0rem;
  /* border:6px solid green; */
  height:100%;
}
/* Controls for demo */
.grid-controls {
  display:flex;
  flex-direction: column;
  position: fixed;
  bottom: calc(var(--bottommenuh) + 4.75rem);
  left: 10px;
  width:calc(10rem - 24px);
  padding:4px;
  z-index: 10;
  border:2px solid black;
  background-color: var(--light);
}
.grid-controls button {
  flex: 1;
}

.label {
  flex: 1;
  background-color: #333;
  color: #fafafe;
  font-size: 0.9rem;
  text-align: center;
}

.hidden {
  display: none;
}

.visible {
  display:block;
}