/*
  ThemeSite.css
*/
:root {
  --hr: #3b1f02;
  --clkbg: #3b1f02;
  --clkanc: #ccc;
  --lpanel: #f9edac;
  --light: #fefefa;
  --dark: #061807; 
  --atten: #f9edac;  
  --menu: #efefef;
}
/*
  --light: #a8dadc;
  --dark: #1a2332;
  --atten: #2d8b8b;
*/


body {
  background-color: var(--light);
  color: var(--dark);
}

#github #lpanel {
  background-color: var(--dark);
  color: var(--light);
}

#github code {
  font-size:1.0rem;
  font-family: Consolas, monospace;
}

#github red-text {
  color:red;
  font-weight: bold;
}