/*
  ThemeRust.css
*/
:root {
  --light: #fefefa;
  --dark: #2a1102;
  /* --dark: #5E2605; */
  --menu: #eee;
  --atten: #eeeeee;
  --hr: #440000;
  --border: #440000;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

#github #lpanel {
  background-color: var(--dark);
  color: var(--light);
}