/* 
  Stylesheets should be included in the order:
    - StylesPageFrameTheme(Default).css
    - StylesPageFrameStructure.css
    - StylesPageFrameMenus.css
*/

:root {
  --light: #fefefa;
  --dark: #224466;
  --menu: #eee;
  --atten: #eefffe;
  --hr: #224466;
  --border: #224466;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-size: 20px;
}

#lpanel {
  background-color: var(--dark);
  color: var(--light);
}