/*
  ThemeSWDev.css
*/

:root {
  --light: #fefefa;
  --dark: #050203;
  --menu: #eee;
  --atten: #f9edac;
  --hr: #010101;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

#github #lpanel {
  background-color: var(--dark);
  color: var(--light);
}