/*
  ThemeSWDev.css
*/

:root {
  --light: #fefefa;
  --dark: #333;
  --menu: #eee;
  --atten: #eee;
  --hr: #010101;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

#lpanel {
  background-color: var(--dark);
  color: var(--light);
}