/* 
  ThemeWebDev.css
*/

:root {
  --light: #fefefa;
  --dark: #012701;
  /* --dark: #004400; */
  --menu: #eee;
  --atten: #eeeeee;
  --hr: #004400;
  --border: #00aa00;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

#github #lpanel {
  background-color: var(--dark);
  color: var(--light);
}