/*
  ThemeSite.css
*/
:root {
  --light: #fefefa;
  --dark: #3b1f02;
  --menu: #efefef;
  --atten: #f0ddc2;
  --hr: #3b1f02;
  --clkbg: #3b1f02;
  --clkanc: #ccc;
  /*  --light: #fefefa;
  --dark: #140a00;
  --menu: #efefef;
  --atten: #fff2e5;
  --hr: #140a00;
*/
}


body {
  background-color: var(--light);
  color: var(--dark);
}

#lpanel {
  background-color: var(--dark);
  color: var(--light);
}