/*
 * ThemeBasics.css - Styles for code pages
 * ver 1.0 - 01/16/2025
 * Jim Fawcett
 */
 
 :root {
  --light: #fefefa;
  --dark: #333;
  --menu: #eee;
  --atten: #eee;
  --hr: #010101;
 /* --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hr: #004400; */
  --border: #002200;
  --lpanelw: 10em;
  --topmenuh: 1.75em;
  --bottommenuh: 1.75em;
}
