/*
  ThemeSite.css
*/
:root {
  --hr: #3b1f02;
  --clkbg: #3b1f02;
  --clkanc: #ccc;
  --lpanel: #f9edac;
  --light: #d3d3d3;
  --dark: #061807;
  --atten: #d3d3d3;  
  --menu: #efefef;
}


body {
  background-color: var(--light);
  color: var(--dark);
}

#github #lpanel {
  background-color: var(--dark);
  color: var(--light);
}