/*
  content-links.css
*/
body {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1rem;
  padding:1rem;
  overflow-y: auto;
}
/* iframe to show link target */
#pgframe {
  flex: 1;
  position: absolute;
  top:0rem;
  right:0rem;
  width: calc(70% - 2rem);
  height: calc(100% - 4rem);
  /* padding:1rem; */
  border: 1px solid red;
}
t-b {
  display: block;
  margin: 1rem 0rem;
  max-width: 50rem;
}
.hidden {
  display:none;
}
#sections {
  position:fixed;
  top:1rem;
  right:1rem;
  z-index: 1000;
  width:max-content;
  padding: 0rem 0.25rem 1rem 0.25rem;
  background-color: #fefefa;
  border:2px solid black;
  cursor:pointer;
  line-height: 0.5rem;
}
#sections a {
  display:block;
  margin:0.5rem;
  padding:0.5rem 0.25rem;
  min-width: 4rem;
}
#sections a.active {
  background-color: #bbb;
  color: #333;
  font-weight: bold;
}

#sections a:hover {
  cursor: pointer;
  background-color: #ccc;
}

#pages {
  position:fixed;
  top:1rem;
  right:1rem;
  z-index: 1000;
  width:max-content;
  padding: 0rem 0.25rem 1rem 0.25rem;
  background-color: #fefefa;
  border:2px solid black;
  cursor:pointer;
  line-height: 0.5rem;
}
#pages a {
  display:block;
  margin:0.5rem;
  padding:0.5rem 0.25rem;
  min-width: 4rem;
}
#pages a.active {
  background-color: #bbb;
  color: #333;
  font-weight: bold;
}

#pages a:hover {
  cursor: pointer;
  background-color: #ccc;
}

#controls {
  position:fixed;
  bottom:2rem;
  left:0.25rem;
  z-index: 1000;
  width:max-content;
  padding: 0.5rem;
  background-color: #fefefa;
  border:2px solid black;
  cursor:pointer;

}
#controls button {
  min-width: 6rem;
}
