/*
 * reset.css - Set default styles
 *   as presented in
 *   Bulletproof Web Design
 *   by Dan Cederholm
 */
 
 :root {
  --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hover: #666;
  --hr: #382200;
  --border: #382200;
  --lpanelw: 12em;
  --topmenuh: 1.75rem;
  --bottommenuh: 1.75rem;
}

html {
  margin:0rem;
  padding:0rem;
  height: 100vh;
  width: 100vw;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* font-size: 100%;
  vertical-align: baseline; */
}

body {
  line-height: normal;
  font-size:medium;
}
h1 {
  font-size:200%;
}
h2 {
  font-size:150%;
}
h3 {
  font-size:117%;
}
h4 {
  font-size:100%;
}
h5 {
  font-size:83%;
}
h6 {
  font-size:67%;
}

ol, ul {
  list-style: decimal;
}

blockquote, q {
  quotes: none
}

blockquote::before, blockquote::after,
q:before,  q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

