/*
 * CodeBits.css - Styles for Code Demos
 * ver 1.0 - 04 Jan 2025
 * Jim Fawcett
 */
 
 pre {
  overflow-x: auto !important;
}

.block {
  border: 1px solid var(--dark);
  overflow: hidden;
  clear: both;
  max-width: 50rem;
  margin: 0.75rem 0.0rem;
}

.codewrap {
  float: left;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
  font-size: 0.9rem;
}

.textwrap {
  padding: 0.0em 0.75em 0.5em 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.75rem;
}
