/*
  ThemeRust.css
*/
:root {
  --light: #fefefa;
  /* --dark: #4E2E2A; */
  --dark: #5E2605;
  /* --dark: #6F4E37; */
  /* --dark: #7B3F00; */
  /* --dark: #440000; */
  --menu: #eee;
  --atten: #eeeeee;
  --hr: #440000;
  --border: #440000;
}

body {
  background-color: var(--light);
  color: var(--dark);
}

#lpanel {
  background-color: var(--dark);
  color: var(--light);
}