/* RepoPython_Styles.css */

#github .repo-header-links {
  position: relative;
  padding: 0.0rem 0rem 0.25rem 0rem;
  margin-top: 0.125rem;
  border: 2px solid var(--dark);
  background-color: var(--dark);
  color: var(--atten);
}

#github .repo-header-links .repoLinks {
  color: var(--light);
}

#github .repo-header-links .repoLinks:first-child {
  margin-top: 0.25rem;
  margin-left: 1.5rem;
}

#github .repo-header-links .repoLinks:last-child {
  margin-left: 1.25rem;
}
