<!DOCTYPE html>
<html id="top" lang="en">
  <head>
    <title>Test1</title>
    <script src="js/cookies.js"></script>
    <script src="js/contentElements.js"></script>
    <script src="js/contentMessages.js" defer></script>
    <script src="js/link-nav.js" defer></script>
    <link rel="stylesheet" href="css/link-nav.css">
    <link rel="stylesheet" href="css/content-links.css">
    <script defer>
      function persistPages() {
        const pages = getCookie('pages');
        if(pages === 'true') {
          let pgs = document.getElementById('pages');
          pgs.classList.remove('hidden');
        }
      }
      function persistSections() {
        const sections = getCookie('sections');
        if(sections === 'true') {
          let sects = document.getElementById('sections');
            sects.classList.remove('hidden');
        }
      }
      function load() {
        console.log('in load()');
        persistPages();
        persistSections();
      }
    </script>
  </head>
  <body onload="load()">
    <a id="next" href="test2.html" class="hidden">Next</a>
    <a id="prev" href="test1.html" class="hidden">prev</a>

    <div id="sections" class="hidden">
      <div class="listheader" onclick="toggleElement('sections')">Page Sections</div>
      <a target="_self" href="#top">top</a>
      <a target="_self" href="#first">first</a>
      <a target="_self" href="#second">second</a>
      <a target="_self" href="#third">third</a>
      <a target="_self" href="#fourth">fourth</a>
      <a target="_self" href="#bottom">bottom</a>
    </div>
    <div id="pages" class="hidden">
      <div class="listheader" onclick="toggleElement('pages')">Page List</div>
      <a target="rpanel" href="test1.html">test1</a>
      <a target="_self" href="test2.html">test2</a>
      <a target="_self" href="test3.html">test3</a>
      <a target="_self" href="test4.html">test4</a>
    </div>

    <h2>Test1</h2>
    <p>
      This is a test file for the LinkNavigator.
    </p>
    <p id="first">
      <h3>First Section</h3>
      The Link buttons and Up and Down buttons pass a new src to the 
      iframe with red border, on the right, using a JavaScript retrieved 
      iframe reference. 
    </p>
    <p id="second">
      <h3>Second Section</h3>
      The panel of buttons at the bottom of the left panel post messages 
      to the page hosted in the iframe. The messages request the current 
      document to move up or down a hidden embedded sections list, or 
      move up or down an embedded page list. The bottom two buttons 
      request toggle of the display of either the section list or page list by 
      unhiding or hiding.
    </p>
    <p id="third">
      <h3>Third Section</h3>
      Since an iframe host cannot directly execute JavaScript owned by hosted documents, 
      Messages are required to request the document to run the 
      appropriate JavaScript functions.
    </p>
    <p id="fourth">
      <h3>Fourth Section</h3>
      All of the Explorers use this technique to provide user control over the 
      embedded document.
    </p>
    <div style="height:45rem;"></div>
    <a id="bottom"></a>
    <!-- <script src="js/link-nav.js" defer></script> -->
  </body>
</html>