/*
 * Explorer.css - Styles for the entire site
 * ver 1.0 - 08 Dec 2024
 * Jim Fawcett
 */
 
:root {
  --light: #fefefa;
  --dark: #382200;
  --clickbg: #815454;
  --clickclr: #ccc;
  --menu: #eee;
  --atten: #ecdcb6;
  --hr: #382200;
  --border: #00aa00;
  /* --light: #fefefa;
  --dark: #4c2f27;
  --menu: #eee;
  --atten: #f2f0e6;
  --hr: #4c2f27;
  --panelc: #4c2f27;
  --panelbg: #f2f0e6; */
  --lpanelw: 10em;
  --topmenuh: 1.75em;
  --bottommenuh: 1.75em;
}

/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
} */

body {
  display:flex;
  flex-direction: column;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

iframe {
  opacity: 0.0;
  transition: opacity 1.2s ease;
}

iframe.loaded {
  opacity: 1.0;
}

#topMenu {
  width:100%; height:var(--topmenuh);
  background: #ccc;
  border:1px solid var(--dark);
  display:flex;
  overflow-x:auto;
  position:fixed;
}

#bottomMenu {
  width:100%; height:var(--bottommenuh);
  background: #ccc;
  border:1px solid var(--dark);
  display:flex;
  overflow-x:auto;
  position:fixed;
  bottom:0em;
}

/* used for popups */
.menuHeader {
  text-align: center;
  padding:0.0em 0.5em 0.25em 0.5em;
  margin:0em;
  cursor: pointer;
  width:100%;
  position:sticky;
  top:0em;
  right:0em;
}

.topMenuButton {
  width:5em;
  margin:0em 0.05em;
  padding:0.25em 0.5em;
  white-space: nowrap;
  cursor:pointer;
}

.bottomMenuButton {
  width:5em;
  margin:0em 0.05em;
  padding:0.25em 0.5em;
  white-space: nowrap;
  cursor:pointer;
  /* border:1px solid var(--dark);
  font-family: Tahoma, Geneva, Verdana, sans-serif; */
}

.buttonSpacer {
  /* border:1px solid green; */
  margin:0.0em;
  width:1.0em;
}

#blogs {
  position:absolute;
  top: var(--topmenuh);
  z-index: 100;
  right:23.75rem;
  /* left:41.5em; */
  width:max-content;
  min-width:5em;
  border:2px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  /* padding:0.25em 0.5em; */
  line-height: 1.5em;
  font-size:0.95rem;
}
#blogs a {
  display: block;
  color: var(--dark);
  margin:0em 0.5em;
}
#blogs a:hover {
  background-color: #ccc;
}

#help {
  position:absolute;
  top: var(--topmenuh);
  z-index: 100;
  right:19.2rem;
  /* left:45.25em; */
  width:max-content;
  min-width:5em;
  border:2px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  /* padding:0.25em 0.5em; */
  line-height: 1.5em;
  font-size:0.95rem;
}
#help a {
  display: block;
  color: var(--dark);
  margin:0em 0.5em;
}
#help a:hover {
  background-color: #ccc;
}

#res {
  position:absolute;
  top: var(--topmenuh);
  z-index: 100;
  right:15rem;
  /* left:49.72rem; */
  width:max-content;
  min-width:5em;
  border:2px solid var(--dark);
  background-color: var(--light);
  color: var(--dark);
  /* padding:0.25em 0.5em; */
  line-height: 1.5em;
  font-size:0.95rem;
}
#res a {
  display: block;
  color: var(--dark);
  margin:0em 0.5em;
}
#res a:hover {
  background-color: #ccc;
}
#res hr.above {
  margin:0.35rem 0rem 0.0rem 0rem;
}
#res hr.below {
  margin:0.0rem 0rem 0.35rem 0rem;
}
#res .category {
  border-top:1px solid var(--light);
  background-color: var(--dark);
  opacity: 0.6;
  color: var(--light);
  font-size:1.0rem; 
  padding:0.10rem 0.5rem 0.25rem 0.5rem;
  margin:0rem;
}

#filename {
  margin:0.35em 1.0em;
  border:1px solid var(--dark);
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size:0.90rem;
  vertical-align: middle;
}

#frame {
  /* border:5px solid blue; */
  display:flex; 
  position:fixed;
  top: var(--topmenuh);
  bottom: var(--bottommenuh);
  left: 0em;
  right: 0em;
  padding:0em;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#code-help a {
  margin-left:1rem;
}

#code-repros a {
  margin-left:1rem;
}

#nav {
  margin: 0.5em 0.25em;
  line-height: 1.5em;
}

#nav a {
  display:block;
}

.hidden {
  display:none;
}

.lightItem {
  background-color: var(--light);
  color: var(--dark);
  border:1px solid var(--dark);
}

.darkItem {
  background-color: var(--dark);
  color: var(--light);
  border:1px solid var(--dark);
}

.right {
  margin-left: auto;
}

.rightGroup {
  display:flex;
  overflow-x:auto;
  margin-left:auto;
}

/* clkwrap {
  display:block;
  padding:0.15rem 0.75rem;
  margin-left: -1rem;
} */

.clickable {
  display: block;
  width:max-content;
  padding:0.2rem 0.75rem;
  margin-left: -0.75rem;
  width:max-content;
  min-width: 5rem;
  /* border: 2px solid purple; */
  text-decoration: underline;
}

.clickable a {
  cursor:pointer;
}

details .clickable {
  display: block;
  width:max-content;
  padding:0.2rem 0.75rem;
  margin-left: -0.75rem;
  width:max-content;
  cursor:pointer;
  text-decoration: underline;
}

.unclickable {
  display: block;
  width:max-content;
  padding:0.2rem 0.75rem;
  margin-left: -0.75rem;
  width:max-content;
  text-decoration: none;
}

details .unclickable {
  display: block;
  width:max-content;
  padding:0.15rem 0.75rem;
  margin-left: -0.75rem;
  width:max-content;
  text-decoration: none;
}

.undef {
  opacity:0.5;
  /* text-decoration: line-through; */
}

details .undef {
  padding:0rem 0.5rem;
}

#explorers {
  display: flex;
  width:max-content;
  padding:0.0rem 0.25rem 0.0rem 0.25rem;
  cursor:pointer;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#explorers > div a {
  display:block;
  margin-left: 0.0rem;
}

#explorers .popup {
  justify-content: center;
  align-items: center;  
}

#toolboxes {
  display: flex;
  width:max-content;
  background-color: var(--light);
  border:1px solid var(--dark);
  padding:0.0rem 0.25rem 0.0rem 0.25rem;
  cursor:pointer;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#toolboxes > div a {
  display:block;
  margin-left: 0.0rem;
}

#toolboxes .popup {
  justify-content: center;
  align-items: center;  
}

.popup {
  display:flex;
  justify-content: center;
  align-items: center;  
  width:7rem;
  background-color: var(--dark);
  color: var(--atten);
  border:1px solid var(--dark);
  padding:0.25rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.7rem;
  line-height: 1.0rem;
}

#compilers {
  display: flex;
  width:max-content;
  /* background-color: var(--light);
  border:1px solid var(--dark); */
  padding:0.0rem 0.25rem 0.0rem 0.25rem;
  cursor:pointer;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#compilers > div a {
  display:block;
  margin-left: 1.0rem;
}

#compilers .popup {
  justify-content: center;
  align-items: center;  
}

ul.tight, ol.tight {
  margin-top:0.25em;
  margin-bottom:0.25em;
}

ul.tight li {
  margin-top:0.15em;
  margin-bottom:0.15em;
}

ol.tight li {
  margin-top:0.15em;
  margin-bottom:0.15em;
}

#bottomGroup {
  display:flex;
  flex-direction:column;
  position: fixed;
  bottom: calc(var(--bottommenuh) + 1rem);
  left:1.0rem;
  border:2px solid green;
  background-color: var(--light);
  max-height:calc(100vh - 3rem);
}

#bottomGroup details {
  margin:0.0rem 0rem;
  border:none;
}
#bottomGroup summary {
  /* border:1px solid var(--dark);
  border:1px solid red; */
  margin:0rem;
  padding:0.05rem 0.5rem;
  width:7rem;
}

#bottomGroup-wrapper {
  display:flex;
  flex:1;
  /* position: fixed;
  bottom: calc(var(--bottommenuh) + 1rem);
  left:1.0rem; */
  background-color: var(--light);
  border: none;
  padding:0.25rem;
  max-height: 90%;
}

#track-list {
  overflow-y: auto;
  flex-grow: 1;
  border: 1px solid red;
}

#nbhds {
  flex-shrink: 0;
}
.bottomFix {
  position: fixed;
  left: 1.05rem;
  /* bottom: calc(var(--bottommenuh) + 1); */
  bottom: 3rem;
  background-color: var(--light);
}