/*
 * gridContent.css - Styles for structure of content pages
 * ver 1.0 - 01 Jan 2025
 * Jim Fawcett
 */
 
 body {
  font-size: 18px;
  margin: 0rem;
  padding: 1rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  line-height: 1.25em;
}

#container {
  width: 100%;
  height: 500px; /* Adjust as needed */
  border-collapse: collapse;
}

#container td {
  transition: width 0.8s ease-in-out;
  vertical-align: top;
  overflow: hidden; /* Ensures collapsing works */
}

#lpanel {
  width: 12rem; /* Default expanded width */
  border: 2px solid red;
  background-color: #ccc;
  padding: 0.5rem;
}

.lpanel-content {
  min-width: 0;  /* Ensures it can shrink */
  white-space: nowrap; /* Prevents wrapping that could force width */
  overflow: hidden;
}

#rpanel {
  width: calc(100% - 12rem);
  border: 2px solid green;
  padding: 0.5rem;
}
