/*
 * gridContent.css - Styles for structure of content pages
 * ver 1.0 - 01 Jan 2025
 * Jim Fawcett
 */
 
 /* :root {
  --light: #fefefa;
  --dark: #382200;
  --menu: #eee;
  --atten: #ecdcb6;
  --hover: #666;
  --hr: #382200;
  --border: #382200;
  --lpanelw: 12em;
  --topmenuh: 1.75em;
  --bottommenuh: 1.75em;
} */

body {
  font-size: 14pt;
  margin: 0rem;
  padding: 1rem 2rem;
  /* font-family: Arial, sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  line-height: 1.25em;
}

flex-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

content-header {
  display: block;
}

content-footer {
  display: block;
  border: 1px solid var(--dark);
  padding: 0.25em 1em;
  margin:0.75em 0em 1em 0em;
}
t-b {
  display:block;
  white-space: wrap;
  max-width:50em;
  margin: 0.75em 0em;
}

block-indent {
  display: block;
  margin-left: 1em;
}

.block-indent {
  margin-left: 1em;
}