/*
 * gridContent.css - Styles for structure of content pages
 * ver 1.0 - 01 Jan 2025
 * Jim Fawcett
 */
 :root {
  --lpanelw: 12rem;
}

body {
  position:relative;
  font-size: 18px;
  margin: 0rem;
  padding: 1rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  line-height: 1.25em;
  box-sizing: border-box;
  height:100vh;
  width:100vw;
}

#container {
  position: absolute;
  display:flex;
  /* width: 100%; */
  left:2rem;
  right:2rem;
  bottom: 3rem;
  top:9rem;
  /* height: 500px;  */
  /* Adjust as needed */
  /* border: 2px solid black; */
  overflow: hidden;
}

#lpanel {
  width: var(--lpanelw); /* Default width */
  height: calc(100% - 2rem);
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ccc;
  border-right: 1px solid red;
  border: 2px solid red;
  padding: 0.5rem;
}

#rpanel {
  position: absolute;
  right: 0; /* Ensures it starts from the right */
  top: 0;
  width: calc(100% - var(--lpanelw));
  height: calc(100% - 2rem);
  background-color: white;
  border-left: 1px solid black;
  border:2px solid black;
  padding: 0.5rem;
  z-index: 10;
  transition: width 0.5s ease-in-out, right 0.5s ease-in-out;
}

#rpanel.expanded {
  right: 0; /* Ensures it stays aligned */
  width: calc(100% - 0rem); /* Expands smoothly */
}
