/*
  MsgPassing.css
*/
* {
  box-sizing: border-box;
}
body {
  position:relative;
  height:100vh;
  width: 100vw;
}
#container {
  bottom: 0rem;
}
#header {
  position:absolute;
  top:0rem;
  left:0rem;
  right:0rem;
  height:3.0rem;
  padding:0.25rem 1.5rem;
  border:1px solid black;
}

#lpanel {
  background-color: #fefefa;
}

#lpanel a {
  display:block;
  background-color: #fefefa;
  color:black;
  padding:0.25rem 1rem;
}
#rpanel-content {
  position:absolute;
  top:0rem;
  left:0rem;
  right:0rem;
  bottom:0rem;
  /* height:auto;
  width:auto; */
  /* border:5px solid green; */
}

#pgframe {
  position:absolute;
  top:calc(2.5rem + 10px);
  bottom:0rem;
  left:0rem;
  right:0rem;
  width:100%;
  height:calc(100% - 2.5rem - 10px);
  /* border:5px solid purple; */
}

#post-msg {
  margin:0.25rem 1.0rem;
}