/*-----------------------------------------------
  position.css
*/
* {
  box-sizing: border-box;
}
body {
  position:relative;
  font-size:22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
  padding:1em 2em;
}
#anchor {
  position:absolute;
  top:14rem;
  left:17rem;
  width:8rem;
  height:4rem;
  border:2px solid red;
  padding:0.75rem;
  margin:0rem;
  background-color: #fafafe;
}
#position {
  position:absolute;
  z-index: 10;
  top:17rem;
  left:12rem;
  width:8rem;
  height:3rem;
  border:2px solid green;
  padding:0.75rem;
  margin:0rem;
  background-color: #fafafe;
}
t-b {
  display:block;
  margin: 0.75rem 0rem;
  max-width:55rem;
}
v-ss {
  display:block;
  height:0.75rem;
}
v-sl {
  display:block;
  height:1.5rem;
}
