/* QuadView.css */
body-wrapper {
  display: flex;
  flex-direction: row;
  padding: 0rem;
  margin: 0rem;
  height: 100%;
  width: 100%;
  font-size: 0.9rem;
}
code-wrapper {
  flex: 1;
  padding: 0rem;
  margin: 0rem;
}
comment-wrapper {
  flex: 1;
  padding: 0rem;
  margin: 0rem;
}
