/* BoxModel.css*/
body {
  padding:0.5rem 0.75rem;
  box-sizing: border-box;
}
#box-demo {
  border: 3px solid #333;
  background-color: cornsilk;
  padding: 15px;
  width: 250px;
  margin: 1rem 0rem;
}
#content-demo {
  background-color: aquamarine;
}
