/* html { height:100vh; width: 100vw; }
body { padding: 0rem 0.5rem; user-select: none;}
body { font-family: system-ui, Arial, sans-serif; }
body { min-height: 100dvh; display:flex; flex-direction: column;} */

two-way-splitter.split {
  flex: 1 1 auto;
  min-height: 200px;
  width: 100%;
  margin: 0rem;
}
two-way-splitter {
  margin:0rem;
}
two-way-splitter div {
  height:100%; box-sizing: border-box;
}
iframe {
  display:block;
  height:100%; width: 100%;
}
div .label {
  margin: 0rem;
  border: 2px solid var(--dark);
}
div .lable span {
  padding:0.25rem 1rem;
  margin:0rem;
  font-weight: bold;
}
.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  gap: 0.5rem;
  align-items: center;
  margin: 0.15rem 0 0.5rem 0;
  /* border: 2px solid green; */
}
.inputs label { 
  font-size: 0.85rem; color: #444;
  /* border:1px solid red; */
}
.inputs > div {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: .25rem;           /* spacing between label and input */
}
.inputs input[type="url"] {
  width: 100%;
  padding: 0.35rem 0.5rem;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
}
.inputs button {
  padding: 0.45rem 0.75rem;
  border: 1px solid #aaa;
  border-radius: 8px;
  background: #f5f5f5;
  cursor: pointer;
  appearance: none;
}
.inputs button:hover  { background-color: #ccc; }
.inputs button:active { background-color: #ddd; }
.inputs button:disabled { opacity: .6; cursor: not-allowed; }

input, textarea, select {
  user-select: text;
}
.instructions {
  background-color: var(--dark);
  color: var(--light);
  width: max-content;
  padding: 0.15rem 0.75rem;
  cursor: pointer;
}
#htmlCode, #cssCode, #jsCode {
  white-space: pre; font-size: 0.8rem;
  font-family: monospace;
}
#setup {
  position: absolute; 
  top: 0.75rem; left: 20.0rem;
  z-index: 1000;
}
#setup-content {
  border: 2px solid var(--dark); 
  padding:0.25rem 1rem; 
  width: max-content;
  max-width: 30rem;
  background-color: var(--light);
}
