/*---------------------------------------------------------
  parent.css
*/

/* htnl {
  margin:0rem;
  padding:0rem;
  height: 100vh;
  width: 100vw;
} */

body {
  display:flex;
  flex-direction: column;
  gap:0rem;
  /* box-sizing: border-box; */
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position:fixed;
  left:0rem; 
  top:0rem; right:0rem;
  bottom:0rem;
  margin: 0rem;
  /* border: 2px solid green; */
}

#header {
  display: flex;
  flex-direction: row;
  position: fixed;
  left:0rem; top:0rem; 
  right: 0rem;
  height: var(--topmenuh);
  border: 2px solid red;
  background-color: #ddd;
  margin:0rem;
  padding:0rem;
}

.header-button {
  vertical-align: baseline;
  text-align: center;
  min-width: 4rem;
  border:1px solid var(--dark);
  border-radius: 0.25rem;
}

.spacer {
  width:2rem;
}

#content {
  flex: 1;
  display:flex;
  flex-direction: row;
  position:absolute;
  top:var(--topmenuh);
  right:0rem;
  bottom:var(--bottommenuh);
  left:0rem;
  margin:0rem;
  border:3px solid green;
}

#lpanel {
  display:flex;
  flex-direction: column;
  position:relative;
  width: 12rem;
  padding: 0.5rem 1rem;
  border:2px solid purple;
}

#scroll-container {
  position: fixed;
  bottom: calc(var(--bottommenuh) + 1rem);
  max-height: 50rem;
  cursor:pointer;
  overflow-y: hidden;
}

#scroll-list {
  display:flex;
  flex-direction: column;
  position:fixed;
  bottom: calc(var(--bottommenuh) + 1rem);
  top:5rem;
  margin-left:1rem;
  overflow-y: auto;
}

#scroll-list a {
  display: inline-block;
  color:var(--dark);
}

#rpanel {
  flex: 1;
  position: relative;
}

#ifrm {
  width:100%;
  height:100%;
  margin:0rem;
  padding:0rem;
  border:2px solid red;
}

#footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  left:0rem; bottom:0rem; 
  right: 0rem;
  height: var(--bottommenuh);
  border: 2px solid red;
  background-color: #ddd;
}