/*---------------------------------------------------------
  FigureSizer.css
  - styles for making resize-able figures
*/

figure-sizer {
  display: flex;
  flex-direction:column;
  width:20rem;
  border:2px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add shadow */
  padding:0.25rem;
  user-select: none;
}

figure-sizer .caption {
  flex-shrink: 0;
  font-family: 'Comic Sans MS';
  font-weight: bold;
  font-size:1.05rem;
  text-align: center;
  padding:0.05rem 0.5rem 0.25rem 0.5rem;
  /* border: 1px solid black; */
  cursor:pointer;
}

figure-sizer > .content {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center;    /* Center the image vertically */
  flex-grow: 1;
  height: auto;
  /* border: 1px solid red; */
  overflow: hidden; /* Prevents image overflow */
  cursor: pointer;
}

figure-sizer > .content img {
  display: flex;
  pointer-events: none;
  justify-content: center; 
  align-items: center;    
  flex-grow: 1;
  width: 100%;
  height: auto;
  overflow: hidden;
}
