<!DOCTYPE html>
<html id="top" lang="en">
<!--
  SplitterContainer.html
    Test programatically steping through container of links
    executing each when traversed.
-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico" />
    <title>Splitter Container</title>
    <script src="js/cookies.js"></script>
    <script src="js/contentElements.js"></script>
    <script src="js/exploreMessages.js" defer></script>
    <script src="js/link-nav.js" defer></script>
    <script src="../../js/SplitterComponent.js"></script>
    <link rel="stylesheet" href="css/link-nav.css">
    <link rel="stylesheet" href="css/explorer-links.css">
    <style>
      splitter-container {
        --dark: maroon;
      }
      .indent {
        margin-left:2rem;
        margin-right:2rem;
      }
    </style>
  </head>
<body id="github">
  <h2>Splitter Component Demo</h2>
  <div style="height:0.75rem;"></div>
  <h3 class="indent">Using default bar position</h3>
  <splitter-container style="height: 10rem; width: 60%;">
    <div slot="first">
      <pre><code>  import std;
    int main() {
      std::cout << "\n  Hello Splitter\n\n";
    }
      </code></pre>
    </div>
    <div slot="second">
      <div style="padding:0rem 1rem;">
        <p>Output here</p>
      </div>
    </div>
  </splitter-container>

  <div style="height:0.75rem;"></div>
  <h3 class="indent">Using left-width="28rem" bar position</h3>
  <splitter-container left-width="28rem" style="height: 10rem; width: 60%;">
    <div slot="first">
      <pre><code>  import std;
    int main() {
      std::cout << "\n  Hello Splitter\n\n";
    }
      </code></pre>
    </div>
    <div slot="second">
      <div style="padding:0rem 1rem;">
        <p>Output here</p>
      </div>
    </div>
  </splitter-container>

  <div style="height:30rem;"></div>
  <a id="bottom"></a>
</body>
</html>
