/* RepoSWDev_Styles.css */

#github .repo-header-links {
  position: relative;
  padding: 0.0rem 0rem 0.25rem 0rem;
  margin-top: 0.125rem;
  border: 2px solid var(--dark);
  background-color: var(--dark);
  color: var(--atten);
}

#github .repo-header-links a {
  color: var(--light);
  margin-left: 1.5rem;
}

#github .repo-header-links a:first-child {
  margin-top: 0.25rem;
}
