<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Component Intro</title>
    <link rel="stylesheet" href="../../css/content.css">
    <style>
      body {
        font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
        padding:0.5rem 1.5rem;
      }
      inset {
        display:block;
        margin-left:1rem;
      }
    </style>
</head>
<body id="github">
  <h2>Component Introduction</h2>
  <tm-b>
    These components are explored in some detail. Each component has three pages: Demo, Design, and Interface. 
    They're used in many places in this site.
  </tm-b>
  <t-b>
    The goal is to provide enough detail that a potential component user can see how it works, 
    get an overview of the component code, and get details about the component&apos;s public 
    interface to see all the ways that the component can be tailored for a specific need.
  </t-b>
  <t-b>
    Each component is completely implemented with the component JavaScript file. There may also be 
    an additional stylesheet and possibly additional Javascript to satisfy any requirements on page 
    environment. A few of the component applications need these helpers, most do not.
  </t-b>
</body>
</html>
