/* GraphRepoStyles.css - page-specific styles for RepoCSharp_Graph.html */

#github .header {
  position: relative;
  padding: 0.0em 0em 0.25em 0em;
  margin-top: 0.05em;
  border: 2px solid var(--dark);
}
#github .header .repoLinks {
  color: var(--light);
}
#github .header .repoLinks:first-child {
  margin-top: 0.25em;
  margin-left: 1.5em;
}
#github .header .repoLinks:last-child {
  margin-left: 1.25em;
}
#github .content-top {
  margin-top: 1.5rem;
}
#github .fig-right {
  padding: 1rem;
  float: right;
}
#github .fig-right-clear {
  padding: 1rem;
  clear: both;
  float: right;
}
#github .fig-right .right,
#github .fig-right-clear .right {
  margin-right: -1em;
}
#github .photoSizerBlock {
  margin-top: 0;
}
#github .fig-caption {
  display: inline-block;
  font-weight: bold;
  font-family: 'Comic Sans MS', Tahoma;
  background-color: #ddd;
  width: 100%;
  padding: 5px 0px;
}
#github .spacer-calc {
  width: calc(100vw - 4em);
}
#github .tight {
  padding: 0rem 1rem;
}
#github .bottom-spacer {
  height: 15rem;
}
